/* app.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

  body {
    padding-top: 100px;
    background-color: rgb(248, 227, 246);
    color: #000000;
  }

  .calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #403c3c;
    box-shadow: 10px 10px 35px;
    font-family: "Poppins";
  }
  
  .display {
    text-align: right;
    background-color: #b8b9d6;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .input {
    font-size: 20px;
    padding: 5px;
  }
  
  .output {
    font-size: 24px;
    padding: 5px;
    color: #0066cc;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #628bb4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1960a7;
  }

  .buttons button:active {
    transform: scale(0.95);
  }

  .operator {
    color: #3d3db6;
  }
  